body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #2e2e2e;
  color: #fff;
}

li {
  margin: 10px;
}
a {
  color: #fff;
  margin: 10px;
  text-decoration: solid;
}

a:hover {
  color: #c88bc6;
  text-decoration: underline;
  transition: all 0.5s ease-in;
}

a:visited {
  color: none;
}

* {
  box-sizing: border-box;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 70%;
  margin: 2rem auto;
  padding: 2rem 1rem;
  border-radius: 0.2rem;
  background: #575757;
  color: #fff;
  font-size: 18px;
}

.contenido .volver {
  position: absolute;
  left: 0;
  top: 0;
}

/* Contenido de los ejercicios estilos contenido->div */
.contenido div {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: rgb(134, 134, 134);
  position: relative;
}

.contenido .function {
  background: inherit;
  padding: 1rem 1rem;
}

.contenido .function form div {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.3rem;
}

.contenido .function #xd {
  border: 0.5px solid none;
  cursor: pointer;
  padding: 0.4rem 0.4rem;
  border-radius: 0.2rem;
  position: absolute;
  width: 3rem;
  height: 2rem;
  top: 0;
  right: 50%;
  text-align: center;
  font-weight: bolder;
  background: rgb(255, 255, 255);
  color: rgba(17, 0, 255, 0.624);
}

.contenido .function #xd-2 {
  position: absolute;
  top: 5px;
  right: 10px;
  text-align: center;
  border: 0.5px solid none;
  cursor: pointer;
  font-weight: 900;
  font-size: 0.7em;
  width: 1rem;
  padding: 0.2rem 0.2rem;
  border-radius: 0.2rem;
  color: rgb(255, 255, 255);
  background: rgb(74, 74, 74);
}

/* Ocultando el formulario */
#form {
  visibility: hidden;
  width: 80vh;
  position: absolute;
  top: 20px;
  left: 40px;
}

#activo:checked ~ #form {
  transition: all 900ms ease;
  visibility: visible;
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 100%;
}

.contenido .task button {
  position: absolute;
  top: 0;
  right: 10px;
  width: 2rem;
}

.contenido .task .fecha {
  position: absolute;
  font-size: 0.8em;
  right: 10px;
  bottom: 0;
  color: rgba(17, 0, 255, 0.5);
}

.contenido div button {
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  width: 10rem;
  margin: 10px 5px;
  color: #fff;
  background: rgb(74, 74, 74);
}

.contenido div button:hover,
.contenido .function #xd:hover,
.contenido .function #xd-2:hover {
  transition: all 0.5s ease-in;
  background: rgb(65, 65, 65);
}

.contenido form .formulario {
  display: grid;
  gap: 0.5rem;
}

.contenido form .formulario .error {
  color: #ff474c;
  font-size: 14px;
}

.contenido form .formulario input[type="submit"],
.formulario button {
  background: #2e2e2e;
  color: #fff;
  padding: 0.2rem;
  border: none;
  border-radius: 0.2rem;
}

.contenido form .formulario input[type="submit"]:hover,
.formulario button:hover {
  cursor: pointer;
  background: #4900c6;
  transition: all 0.5s ease-out;
}

.contenido form .formulario div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.mensaje {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 70%;
  color: #f9f9f9;
}

input,
select:not(input[type="file"]) {
  font-size: 18px;
}

input[type="file"] {
  font-size: 15px;
  cursor: pointer;
}
